<div class="container-fluid">
    <div class="row top-section">
        <div class="d-none d-md-block col-md-4 col-lg-2 profile-section ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, fugiat perspiciatis qui animi ea officiis
            consequuntur labore atque obcaecati maxime aliquid quod, illo saepe velit doloremque natus cumque, ex nam.
        </div>
        <div class="col-12 col-md-8 offset-md-4 offset-lg-2 col-lg-10 content-section">
            <div class="row list-req2">
                <div class="col-12 create-req list-req">
                    <!--personal profile + add new request section-->
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col text-center align-self-center">
                                    <button class="btn btn-success">ADD REQUEST</button>
                                </div>
                                <div class="col text-center align-self-center">
                                    <button class="btn btn-primary">SHOW ACTIVE REQUESTS</button>
                                </div>
                                <div class="col text-center align-self-center">
                                    <button class="btn btn-warning">UP UP BALIZ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 ">
                    <!--list of requests section-->
                    <div class="row ">
                        <div class="col-12">
                            <div class="row list-header">
                                <div class="col align-self-center">
                                    <input type="checkbox" name="cb" id="cb">
                                    <label for="cb" style="display: inline;"> Show Past Requests</label>
                                </div>
                                <div class="col">
                                    <div class="input-group" style="margin: auto;">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-append">
                                          <button class="btn " type="button">
                                            <i class="fa fa-search "></i>
                                          </button>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                
                                <div class="col-12 content-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-4 align-self-center">
                                                    SMTH HERE
                                                </div>
                                                <div class="col-8">
                                                    <h4>Request my medicationg please</h4>
                                                    <li class="list-unstyled"> 
                                                        <ul>REQUEST THIS</ul>
                                                        <ul>REQUEST THAT</ul>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 content-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-4 align-self-center">
                                                    SMTH HERE
                                                </div>
                                                <div class="col-8">
                                                    <h4>Request my medicationg please</h4>
                                                    <li class="list-unstyled"> 
                                                        <ul>REQUEST THIS</ul>
                                                        <ul>REQUEST THAT</ul>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 content-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-4 align-self-center">
                                                    SMTH HERE
                                                </div>
                                                <div class="col-8">
                                                    <h4>Request my medicationg please</h4>
                                                    <li class="list-unstyled"> 
                                                        <ul>REQUEST THIS</ul>
                                                        <ul>REQUEST THAT</ul>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 content-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-4 align-self-center">
                                                    SMTH HERE
                                                </div>
                                                <div class="col-8">
                                                    <h4>Request my medicationg please</h4>
                                                    <li class="list-unstyled"> 
                                                        <ul>REQUEST THIS</ul>
                                                        <ul>REQUEST THAT</ul>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 content-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-4 align-self-center">
                                                    SMTH HERE
                                                </div>
                                                <div class="col-8">
                                                    <h4>Request my medicationg please</h4>
                                                    <li class="list-unstyled"> 
                                                        <ul>REQUEST THIS</ul>
                                                        <ul>REQUEST THAT</ul>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>