
<div class="container-fluid">
  <div class="row">
    <div class="col-4 ">
       <div class="leftSide">
        
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" onerror="this.error = '';this.src = '/assets/person.jpg';" src="/message.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <ul id="infoUser">
                <li><span>{{name}} </span> <strong>{{forname}}</strong></li>
                <li>{{this.typeUtilisateur()}}</li>
              </ul>
              
            </div>
          </div>
       </div> 
      </div>
    <div class="col-8 rightSide">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam saepe iure explicabo praesentium cupiditate, repudiandae sit vel eum modi, aliquid beatae placeat nostrum earum blanditiis officia, aspernatur veniam corrupti quas.</p>
    </div>
  </div>
</div>